body {
  margin: 0;
  width: 100vw;
  max-height: 100vh;
}

#root {
  height: 100%;
}

.show {
  display: block;
}

.not-show {
  display: none;
}

select {
  width: 100%;
}

.api-fetching {
  text-align: center;
}
